<html lang="pt-BR">
  <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bootstrap demo</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    </head>
    <body>
        <body>
            {% comment %}inicio da barra de navegação{% endcomment %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">HOME</a>
            </div>
            </nav>
            {% comment %}Fim da barra de navegação{% endcomment %}
        
        
            <main class="container">
                <p class="text-start fs-4 fw-bold">Listagem de tarefas</p>
               
                {% comment %} Inicio botao de criacao de tarefa {% endcomment %}
                <a href="{% url 'todo_criar' %}"
                   type="button" class="btn btn-success">Nova Tarefa</a>
                {% comment %} Fim botao de criacao de tarefa {% endcomment %}
    {% comment %}Inicio da tabela{% endcomment %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOME</th>
                <th scope="col">CPF</th>
                <th scope="col">EMAIL</th>
                <th scope="col">ENTRADA</th>
            </tr>
        <tbody>
            {% for tarefa in object_list %}
              <tr>
                <th scope="row">{{ tarefa.id }}</th>
                    <td>{{ tarefa.nome }}</td>
                    <td>{{ tarefa.cpf}}</td>
                    <td>{{ tarefa.email}}</td>
                    <td>{{ tarefa.dtEntrada|date:'SHORT_DATE_FORMAT'|default:'-' }}</td>
                   
                {% comment %}botoes de acoes{% endcomment %}
                <td>
                  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-warning">Editar</button>
                    <button type="button" class="btn btn-danger">Excluir</button>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% comment %}fim da tabela{% endcomment %}
    </tbody>
</main>

{% comment %} Observe que nao é possivel acessar o objeto como um todo {% endcomment %}
{% comment %} {{ tarefas }} {% endcomment %}






{% comment %}Templates Django não aceitam esse tipo de acesso
{{ tarefas.0 }}
{% endcomment %}


{% comment %} esta é a maneira de correta de iterar em todas as tarefas {% endcomment %}
{% comment %} <ul>
  {% for tarefa in tarefas %}
    <li>ID : {{ tarefa.id }} - NOME: {{ tarefa.nome }} - CPF: {{ tarefa.cpf }} - EMAIL: {{ tarefa.email }}- ENTRADA: {{ tarefa.dtEntrada }} -</li>
  {% endfor %}
</ul>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html> {% endcomment %}

<th scope="row">{{ tarefa.id }}</th>
                    <td>{{ tarefa.nome }}</td>
                    <td>{{ tarefa.cpf}}</td>
                    <td>{{ tarefa.email}}</td>
                    <td>{{ tarefa.dtEntrada|date:'SHORT_DATE_FORMAT'|default:'-' }}</td>
                    

